$gray0: #333;
$gray1: #666;
$gray2: #999;
$gray3: #f9f9f9;
$gray4: #f2f2f2;
$green0: #00bc8d;
$orange0: #ffa90d;
$shadow: #b5aeae 0 0 3px;
$bgColor: #efeff4;
$borderColor: #eeeeee;

// $font: px2rem(28) 'microsoft yahei',"Helvetica Neue",Helvetica,STHeiTi,sans-serif,'PingFang SC';

$border: 1px solid #eee;

$C9: #1E8CEE;
$C91: #8FC6F7;
$C92: #187DDA;
$C7: #EA4B4B;
$C71: #F5A5A5;
$C72: #C21B1B;
$C1: #F6F6F6;
$C2: #F1F1F1;
$C3: #DFDFDF;
$C4: #B3B3B3;
$C5: #666;
$C6: #444;

/* font size */
$S0: 36px;
$S1: 24px;
$S2: 20px;
$S3: 16px;
$S4: 14px;
$S5: 13px;